.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loading{
    width: 100px;
    height: 100px;
    background: rgba(30,80,180,.6);
    background-image: url('https://unsplash.it/122')
}